{%  extends "base.html.twig" %}
{% block title 'ImmoNova - Acheter' %}

{% block body  %}
    <div class="container">
        <h2 class="text-center mt-5">Quel est votre projet ?</h2>

    </div>
{% endblock %}